.mainbar {
    width: 16.313rem;
    height: 1.438rem;
    border-radius: 1.25rem;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
}

.inprogress {
    height: 1.438rem;
    background-color: #F36437;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
}

.section {
    height: 1.438rem;
    width: 0.1rem;
    background-color: #bababa;
}