/*Kanit Regular 400 / SemiBold 600 / Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');

.container {
    background-color: var(--light-green);
    border-radius: 12px;
    width: 18.75rem;
    height: 14.688rem;
    border: none;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 1.875rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 0.938rem;
    align-items: flex-start;
    position: relative;
    top: -1.125rem;
}

.description {
    margin-top: -0.625rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1.875rem;
}

.container:hover {
    scale: 102%;
    box-shadow: 0.1rem 0.1rem 0.1rem #eaeaea;
}
