.container {
    display: flex;
    flex-direction: column;
    height: 42.5rem;
}

.img1 {
    position: relative;
    left: -2rem;
    animation: fadeInAnimation 1s ease-in;
}

.img2 {
    position: relative;
    right: -2rem;
    top: -9.625rem;
    animation: fadeInAnimation 1s ease-in;
}

.img3 {
    position: relative;
    left: -2rem;
    top: -19.5rem;
    animation: fadeInAnimation 1s ease-in;
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }