/*Kanit Regular 400 / SemiBold 600 / Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');
/*Kanit Medium 500*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container {
    display: flex;
    flex-direction: column;
    gap: 2.188rem;
    margin-top: 2.188rem;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 6.25rem;
    align-items: center;
    width: 18.75rem;
    height: 3.75rem;
    border-radius: 0.75rem;
    background-color: var(--orange);
    border: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.quiz {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 6.875rem;
    align-items: center;
    width: 18.75rem;
    height: 3.75rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--cyan);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 130px;
    align-items: center;
    width: 300px;
    height: 60px;
    border-radius: 12px;
    border: none;
    background-color: var(--light-blue);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.link {
    text-decoration: none;
}

.intro:hover {
    transition: 0.15s;
    scale: 103%;
}


.quiz:hover {
    transition: 0.15s;
    scale: 103%;
}


.about:hover {
    transition: 0.15s;
    scale: 103%;
}
