.main {
    height: 3.625rem;
    width: 24.375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0rem;
    background-color: var(--white);
    margin-top: 4rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.063rem 0rem, rgba(17, 17, 26, 0.15) 0rem 0rem 0.5rem;
}