.main {
    height: 3.625rem;
    width: 24.375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0rem;
    background-color: var(--white);
}