/*Kanit Regular 400 / SemiBold 600 / Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');
/*Kanit Medium 500*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container {
    display: flex;
    flex-direction: column;
    gap: 2.188rem;
    margin-top: 2.188rem;
}

.alcohol {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 18.75rem;
    height: 3.75rem;
    border-radius: 0.75rem;
    background-color: var(--orange);
    border: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.313rem;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.75rem;
}

.mdma {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 18.75rem;
    height: 3.75rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--cyan);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.313rem;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.75rem;
}

.cocaine {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 18.75rem;
    height: 3.75rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--light-blue);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.313rem;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.75rem;
}

.link {
    text-decoration: none;
}

.alcohol:hover {
    scale: 105%;
    transition: 0.15s;
}

.cocaine:hover {
    scale: 105%;
    transition: 0.15s;
}

.mdma:hover {
    scale: 105%;
    transition: 0.15s;
}