/*Kanit Medium 500*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    gap: 65px;
    align-items: center;
    width: 300px;
    height: 60px;
    border-radius: 12px;
    background-color: var(--cyan);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border: none;
    color: var(--white);
}

.link {
    text-decoration: none;
}