/*Kanit Medium 500*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    gap: 4.063rem;
    align-items: center;
    width: 20rem;
    height: 3.75rem;
    margin-top: 1rem;
    border-radius: 0.75rem;
    background-color: var(--cyan);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    border: none;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.75rem;
}

.link {
    text-decoration: none;
}

.button:hover {
    background-color: var(--orange);
    transition: 0.15s;
    opacity: 0.9;
    scale: 105%;
}