.progressBar {
  height: 1.438rem;
  background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.25rem;
    border-radius: 1.25rem;
    justify-content: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25rem 0.75rem;
  }
  
  .progressBar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--orange);
    animation: progress-bar-fill 1s linear forwards;
  }
  
  @keyframes progress-bar-fill {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .prevButton {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
  }

  .answer {
    width: 16.314rem;
    height: 4.063rem;
    background-color: var(--cyan);
    color: var(--white);
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.801rem;
    transition: background-color 0.15s ease-in-out;
  }

  .nextButton {
    width: 16.314rem;
    height: 4.063rem;
    background-color: var(--dark-blue);
    color: var(--white);
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.801rem;
    text-align: center;
    border: none;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25rem 0.75rem;
  }

  .nextButton:hover {
    background-color: var(--orange);
    transition: 0.15s;
    opacity: 0.9;
    scale: 105%;
  }

  .progress {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
  }

  .title {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: var(--dark-blue);
    text-align: center;
    font-size: 3.125rem;
    margin-top: 2.188rem;
    margin-bottom: 2.188rem;
  }

.resultpt1 {
  font-family: 'Kanit', sans-serif;
  margin-bottom: 0.8rem;
}

.resultinput {
  height: 2rem;
  width: 14.314rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  color: #4c4c4c;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border-color: rgba(51, 51, 51, 0.1);
  border-style: solid;
  box-shadow: rgba(50, 50, 93, 0.1) 0rem 0.125rem 0.313rem -0.063rem, rgba(0, 0, 0, 0.3) 0rem 0.063rem 0.188rem -0.063rem;
}

.resultpt2 {
  font-family: 'Kanit', sans-serif;
}

.resultpt3 {
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

.of {
  margin: 0.4rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.938rem;
  align-items: center;
  width: 16.314rem;
  height: 4.063rem;
  border-radius: 0.75rem;
  background-color: var(--cyan);
  border: none;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 1.313rem;
  color: var(--white);
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25rem 0.75rem;
}

.button:hover {
  background-color: var(--dark-blue);
  transition: 0.15s;
  opacity: 0.9;
  scale: 105%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}