.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.938rem;
    align-items: center;
    width: 16.314rem;
    height: 4.063rem;
    border-radius: 0.75rem;
    background-color: var(--cyan);
    border: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 1.313rem;
    color: var(--white);
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.75rem;
}

.button:hover {
    background-color: var(--dark-blue);
    transition: 0.15s;
    opacity: 0.9;
    scale: 105%;
  }

.link {
    text-decoration: none;
}