/*Kanit Regular 400 / SemiBold 600 / Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');
/*Lalezar Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.html {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 83vh;
}

.main h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: var(--dark-blue);
    text-align: center;
    font-size: 3.125rem;
}

.main h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 2.125rem;
    margin-bottom: 0;
    margin-top: 0rem;
    text-align: left;
    color: var(--dark-blue);
}

.main h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 2 rem;
    margin-bottom: 0;
    margin-top: 0rem;
    text-align: left;
    color: var(--dark-blue);
 
}

@media screen and (width: 390px) and (height: 844px) {
    .main{
       
    }
  }
  

