/*Kanit Regular 400 / SemiBold 600 / Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');
/*Lalezar Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.html {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    min-height: 83vh;
    background-color: var(--white);
}

.header {
   display: flex;
   margin-left: -120px;
   font-family: 'Lalezar';
   font-size: 2rem;
}

@media screen and (width: 390px) and (height: 844px) {
    .main{
       
    }
  }