/*Kanit Regular 400 / SemiBold 600 / Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700;900&family=Prompt:wght@900&display=swap');
/*Lalezar Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.html {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    min-height: 83vh;
    background-color: var(--white);
    text-align: center;
    gap: 18.75rem;
}

.topContainer {
    position: relative;
    top: 4.688rem;
    animation: fadeInAnimation 0.5s ease-in;
}

.textContainer {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    color: var(--grey);
    line-height: 1.25rem;
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.header {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 3.125rem;
    color: var(--black);
}

.slogan {
    width: 17.5rem;
}

@media screen and (width: 390px) and (height: 844px) {
    .main{
       
    }
  }
  

