/*Kanit Regular 400 / SemiBold 600 / Bold 700*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');


.html {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 4rem;
    min-height: 83vh;
    background-color: var(--white);
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    margin-top: -3.438rem;
}

.header {
    font-size: 3.125rem;
}

.clipboard {
    animation-name: shake;  
    animation-duration: 2.5s;      
    animation-iteration-count: infinite;  
    display: inline-block;
  }
 
  @keyframes shake {
      0% {
         transform: rotate( 0.0deg)
        }
     10% {
        transform: rotate(3.0deg) scale(103%)
    }  
     20% {
        transform: rotate(-3.0deg) scale(103%)
    }
     30% {
        transform: rotate(3.0deg) scale(103%)
    }
     40% {
         transform: rotate(0deg) scale(103%)
        }
     50% {
        transform: rotate(3.0deg) scale(103%)
    }
     60% {
        transform: rotate( 0.0deg) scale(100%)
    }  
    100% {
        transform: rotate( 0.0deg) scale(100%)
    }
  }
